{% extends "base.html" %}

{% load staticfiles %}
{% block external %}
  <link rel="stylesheet" type="text/css"
	href="{% static 'vendor/jquery-ui-1.11.2/jquery-ui.css' %}" />
  <script type="text/javascript"
	src="{% static 'vendor/jquery-ui-1.11.2/jquery-ui.js' %}"></script>
  <script type="text/javascript"
	src="{% static 'js/tag_autocomplete.js' %}"></script>
{% endblock %}

{% block title %}Save Bookmark{% endblock %}
{% block head %}Save Bookmark{% endblock %}
{% block content %}
{% include "bookmark_save_form.html" %}
{% endblock %}
